body {
max-width: 600px;
margin: auto;

    background-color: rgb(222, 211, 133)
}

p {
    line-height: 1.7;
    font-size: 30px;
    color: white;
}
a{
    text-decoration: none;

}

a:visited { 
    color: cadetblue;
  }


h1 {
text-decoration: none;
    color: cadetblue;
    transition: all 1 ease;
}


h1:hover {

    color: firebrick;
    
    }
article + article{

margin-top: 3rem;
border-top: 3px solid rgb(59, 59, 59)
}